@use '/src/assets/css/variables' as *;

.page_order {
    background-color: var(--bg);
    transition: background-color $transition-theme;
    flex-grow: 1;

    .files-adder {
        margin-top: 0;
    }

    .cart__content {
        width: 100%;
        margin-top: 60px;

        & h3 {
            color: var(--text);
        }

    }



}    

