@use '/src/assets/css/variables' as *;


.fiber{
    height: 100%;


    & > .img-cont{
        width: 100%;
        aspect-ratio: 1.3;
        position: relative;
        border-radius: $brad_md;
        overflow: hidden;

        @include respond-to(sm) {
        }

        @include respond-to(xs) {
        }
        
        & > img {
           width: 100%;
           height: 100%;
           object-fit: cover;
        }
    }

    & .fiber__info {
        margin-top: 10px;
        width: 100%;

        & h3 {
            text-align: left;
        }

        & span {
            display: block;
            margin-top: 5px;
        }
    }
}